<div class="marketing-static_pages-additional_information">
  <article>
    <div>
      <h3>How does Meettrics help your business?</h3>
    </div>

    <section>
      <h4>Team communication flows</h4>
      Quickly graph which teams are meeting with who and how much. Find gaps in communication between departments.
    </section>

    <section>
      <h4>Schedule density</h4>
      Are your employees meetings grouped with large blocks of time or chopped up throughout the day?
    </section>

    <section>
      <h4>Meeting Feedback</h4>
      Collect attendence and NPS scores through slack. Meeting organizers get an easy score to indicate if their meetings are helpful or a burden on their colleagues.
    </section>

    <section>
      <h4>Internal & External stakeholder reporting</h4>
      If your sales team is spending their time with internal meetings they can't be selling! Get quick breakdowns to see if your companies meetings are internal or external interactions.
    </section>

    <section>
      <h4>And that's just the beginning</h4>
      Meettrics offers dozens of data points about your meetings: Get a total number of hours spent in meetings, find out how often meetings are rescheduled or cancelled, find ineffective meetings and way more.
    </section>
  </article>
</div>
