<div class="marketing-static_pages-hero">
  <article>
    <aside>
      <h2>How do your meetings impact your business?</h2>

      Time in meetings is the biggest investment of your company. Do you know if they are working or not? Meettrics is the first platfrom designed to deliver <h1>actionable meeting metrics for your business</h1>.
    </aside>
  </article>
</div>
