<div class="marketing-static_pages-about_us">
  <div>
    <h3>Introduce your app and story</h3>
    Give a nice little summary of you and your business here. Or delete the
    page. Whatever works for you!
  </div>
</div>
