.dashboard-profiles-profile_card {
  $photo-size: 80px;

  margin-right: 15px;
  max-width: 300px;
  text-align: center;

  .photo {
    background-color: $gray-light;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: $spacing-md;

    min-width: $photo-size;
    max-width: $photo-size;
    max-height: $photo-size;
    min-height: $photo-size;
  }
}
