.aion-layouts-week {
  $time-column-width: 100px;
  $row-height: 80px;
  $border-margin: 0.5 * $row-height;
  $calendar-border-color: darken($gray-light, 15%);

  border-bottom-right-radius: $frame-border-radius;
  border-bottom-left-radius: $frame-border-radius;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .margin-spacer {
    border: none !important;
    min-width: 15px;
    max-width: 15px;
  }

  > header {
    display: flex;
    padding: 30px 0;

    .time-label-placeholder {
      min-width: $time-column-width;
      max-width: $time-column-width;
    }

    .aion-date-label {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      text-align: center;
    }
  }

  > .calendar-window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    position: relative;

    .overflow {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow-y: scroll;

      > article {
        display: flex;
        flex-direction: row;
      }
    }

    .time-label-column {
      border-right: 1px solid $calendar-border-color;
      display: flex;
      flex-direction: column;
      min-width: $time-column-width;
      max-width: $time-column-width;
      text-align: center;
    }

    .time-label {
      display: flex;
      flex-direction: column;
      min-height: $row-height;
      max-height: $row-height;
      align-items: middle;
      justify-content: center;

      &:after {
        border-bottom: 1px solid $calendar-border-color;
        position: absolute;
        right: 0px;
        left: 80px;
        content: " ";
      }
    }

    .event-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;
      border-right: 1px solid $calendar-border-color;
      text-align: center;
      padding: 0 5px;
      position: relative;

      &:first-child {
        border-left: 1px solid $calendar-border-color;
      }

      &:last-child {
        border-right-width: 0;
        border-right-style: none;
      }
    }
  }
}
