<div class="dashboard-pending_members-index">
  <header>
    <h3>Your company has been notified</h3>
  </header>

  <section>
    Your company already has an account for the domain
    "<%= session_info.company.email_domain %>". We'll let you know when they
    approve you.
    <%= image_tag("illustrations/pending_members/waiting.svg") %>
  </section>
</div>
