<div class="layouts-shared-under_construction frame center">
  <header>
    <h3>Under construction</h3>
    <div class="break"></div>
    We are still working on finishing this area of the website. Check back
    often for new updates.
  </header>
  <%= image_tag(
    "illustrations/under_construction/construction_#{(1..7).to_a.sample}.svg"
  ) %>
</div>
