<div class="section colors styleguide-colors">
  <aside>
    <header>
      <h3>Colors</h3>
    </header>
  </aside>

  <article>
    <section class="color-container">
      <div class="color">
        <header class="gradient gradient-purple">
        </header>

        <div>Purple Gradient</div>
        <div class="small-text">$purple-gradient</div>
        <div class="small-text">
          <br />
          linear-gradient(<br />
          &emsp;45deg, <br />
          &emsp;#5a00c8 0%,  <br />
          &emsp;#b675d6 100% <br />
          );</div>
      </div>

      <div class="color">
        <header class="gradient gradient-salmon"></header>

        <div>Salmon Gradient</div>
        <div class="small-text">$salmon-gradient</div>
        <div class="small-text">
          <br />
          linear-gradient(<br />
          &emsp;45deg,<br />
          &emsp;#f1766d 0%,<br />
          &emsp;#fca37d 100%<br />
          )
        </div>
      </div>

      <div class="color">
        <header class="gradient gradient-blue">
        </header>

        <div>Blue Gradient</div>
        <div class="small-text">$gradient-blue</div>
        <div class="small-text">
          <br />
          linear-gradient(<br />
          &emsp;45deg,<br />
          &emsp;#2571f5 0%,<br />
          &emsp;#369bf4 100%<br />
          )
        </div>
      </div>

      <div style="flex-basis: 100%"></div>

      <div class="color">
        <header class="blue">
        </header>

        <div>Blue</div>
        <div class="small-text">$blue</div>
        <div class="small-text">#4e77e7</div>
        <div class="small-text">rgb(78, 119, 231)</div>
        <div class="small-text">n/a</div>
      </div>

      <div class="color">
        <header class="purple">
        </header>

        <div>Purple</div>
        <div class="small-text">$purple</div>
        <div class="small-text">#914dcc</div>
        <div class="small-text">PANTONE 2083 C</div>
      </div>

      <div class="color">
        <header class="pink">
        </header>

        <div>Impactful raspberry</div>
        <div class="small-text">$pink</div>
        <div class="small-text">#fc6371</div>
        <div class="small-text">PANTONE 1787 U</div>
      </div>

      <div class="color">
        <header class="salmon">
        </header>

        <div>Salmon</div>
        <div class="small-text">$salmon</div>
        <div class="small-text">#f9997e</div>
        <div class="small-text">PANTONE 1635 XGC</div>
      </div>

      <div class="color">
        <header class="white">
        </header>

        <div>White</div>
        <div class="small-text">$white</div>
        <div class="small-text">#ffffff</div>
      </div>

      <div class="color">
        <header class="mint-light">
        </header>

        <div>Light Mint</div>
        <div class="small-text">$mint-light</div>
        <div class="small-text">#eaf5f8</div>
      </div>

      <div class="color">
        <header class="gray">
        </header>

        <div>Copy Gray</div>
        <div class="small-text">$gray</div>
        <div class="small-text">#747881</div>
      </div>

      <div class="color">
        <header class="navy">
        </header>

        <div>Navy</div>
        <div class="small-text">$navy</div>
        <div class="small-text">#2c3242</div>
      </div>
    </section>
  </article>
</div>
