<div class="section styleguides-header">
  <aside>
    <header>
      <%= image_tag("logos/symbol/symbol_256.png") %>
    </header>

    <div>
      <h4 class="title">
        <%= I18n.t("base.application_name") %><br/>
        Styleguide
      </h4>
    </div>
  </aside>

  <article>
  </article>
</div>


