<div class="section styleguides-layout">
  <aside>
    <h3>Layout</h3>
  </aside>

  <article>
    <h3>Page header</h3>
    Use a page header to push links to the right and have a title on the
    left.
    <br /><br />

    <div class="page-header">
      <h3>Your page title</h3>

      <a href="#" class="button primary outline">Click me</a>
    </div>

    <br /><br /><br />

    <h3>Rails</h3>
    Rails provide a narrow left or white with a wider content section. Note,
    the border is added for illustration and not part of the rail.
    <br /><br />

    <div class="rail" style="border: 1px solid #cccccc">
      <section>
        Content on left if section tag is first
      </section>

      <aside style="border-left: 1px solid #cccccc">
        Aside content
      </aside>
    </div>

    <br /><br />

    <div class="rail" style="border: 1px solid #cccccc">
      <aside>
        Aside content
      </aside>

      <section style="border-left: 1px solid #cccccc">
        Content on right if section tag is last
      </section>
    </div>
  </article>
</div>
