<div class="section styleguides-table">
  <aside>
    <h3>Tables</h3>
  </aside>

  <article>
    <div>
      <h3>Unstyled</h3>
      <table>
        <tr>
          <td>1</td>
          <td>Pascal Fluffy</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Pascal Fluffy</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pascal Fluffy</td>
        </tr>
      </table>

      <br /><br />

      <h3>Styled</h3>
      Pick which classes you need to style the table correctly. Options are
      `bordered`, `striped`, `padded` and `small`.
      <table class="bordered striped padded">
        <tr>
          <td>1</td>
          <td>Pascal Fluffy</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Pascal Fluffy</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pascal Fluffy</td>
        </tr>
      </table>
    </div>
  </article>
</div>
