<div class="section styleguides-typography">
  <aside>
    <h3>Typography</h3>
  </aside>

  <article>
    <header>
      <div class="heading-font">Noto Serif SC</div>
      <div class="copy-font">GT Walsheim Pro</div>
    </header>

    <section class="font-style main-headline">
      <div>
        <h1>Gain company insights with Meettrics</h1>
      </div>

      <aside>
        <strong>Main headline</strong>
        <div>2.5rem</div>
      </aside>
    </section>

    <section class="font-style sub-headline">
      <div>
        <h3>Achieve a 10% productivity boost</h3>
      </div>

      <aside>
        <strong>Sub headline</strong>
        <div>1.7rem</div>
      </aside>
    </section>

    <section class="font-style section-headline">
      <div>
        Analyze team communication flows
      </div>

      <aside>
        <strong>Section headline</strong>
        <div>1.2rem</div>
      </aside>
    </section>

    <section class="font-style paragraph">
      <div>
        See if your communication is balanced through your organization or
        determine where you have gaps and weakpoints in the communication of
        your organization. Address teams that are being over or under
        communicated to.
      </div>

      <aside>
        <strong>Paragraph text</strong>
        <div>1.0rem</div>
      </aside>
    </section>

    <section class="font-style small">
      <div>
        Type of organization
      </div>

      <aside>
        <strong>Small annotation</strong>
        <div>0.8rem</div>
      </aside>
    </section>
  </article>
</div>
