.aion-controllers-toolbar {
  display: flex;
  flex-grow: 1;

  max-height: 40px;
  min-height: 40px;
  padding: 0 50px;

  .aion-date-range-label {
    font-size: 20px;
    line-height: 40px;
    margin-right: 15px;
    vertical-align: middle;

    > span {}
  }

  .direction-buttons {
    margin-right: auto;
  }

  .timezone {
    display: flex;
    margin: 0 auto;
  }

  .settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
  }
}
