.marketing-static_pages-additional_information {
  // background-color: $teal;
  color: $color-gray-dark;
  padding: $spacing-section 0;

  > article {
    margin: 0 auto;
    max-width: $body-max-width;
    padding-bottom: 50px;
    text-align: center;

    > div {

    }

    > section {
      color: $color-gray-dark;
      margin: 0 auto;
      margin-bottom: $spacing-lg;
      max-width: 600px;
    }
  }
}
