.marketing-static_pages-connect {
  background-color: $gray-light;
  display: flex;
  flex-grow: 1;
  height: 100vh;
  max-height: 100vh;

  > section {
    flex-grow: 1;
  }

  .connection-frame {
    color: darken(#f3f3f3, 50%);
    box-shadow: 10px 10px 50px 0px darken(#e1e5ee, 10%);
    display: flex;
    min-height: 400px;

    > aside {
      background-color: $gray-dark;
      background-image: asset-url("photographs/keukenhof.jpg");
      background-size: cover;
      background-position: center center;
      flex-grow: 1;
    }

    > article {
      background-color: $white;
      border-radius: 0 10px 10px 0;
      display: flex;
      flex-direction: auto;
      min-width: 650px;
      padding: $spacing-lg;

      > div {
        display: flex;
        flex-direction: column;
        margin: auto auto;
        max-width: 400px;
        min-width: 400px;

        > h4 {
          margin-bottom: $spacing-section;
        }
      }
    }
  }

  .meettrics-intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
    text-align: left;

    > a {
      color: $purple;
      // -webkit-text-fill-color: transparent;
      // -webkit-background-clip: text;
      display: flex;
      font-size: 2.5rem;
      font-weight: 200;
      justify-content: left;
      line-height: 64px;
      margin-bottom: 15px;
      vertical-align: middle;

      img {
        margin-right: 15px;
      }

      &:hover {
        color: $gray-dark;
      }
    }
  }

  .providers {
    display: flex;
    flex-direction: column;

    .button {
      margin-bottom: $spacing-md;
    }
  }

  @include media-breakpoint-down(md) {
    .connection-frame {
      display: flex;
      flex-direction: column;
      min-width: 0;

      > article {
        min-width: 0;
        order: 1;

        > div {
          order: 2;
          min-width: 0;
          text-align: center;

          > header.meettrics-intro {
            margin-bottom: $spacing-md;
            text-align: center;
          }

          > header.meettrics-intro > a {
            justify-content: center;
          }
        }

        > aside {
        }

        a.button {
          font-size: $font-size-small;
        }
      }

      > aside {
        order: 0;
      }
    }
  }
}
