.marketing-unsubscribes-create {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0 auto;
    max-width: $body-max-width;
    padding: $spacing-section;
    width: 100%;

    > aside {
      display: flex;
      flex-direction: column;
      margin-right: $spacing-section;

      img {
        margin: auto;
        max-width: 400px;
      }
    }

    > article {
      display: block;
      flex-direction: column;
      justify-content: center;
      max-width: 450px;
      margin: auto;

      a {
        display: inline;
      }
    }
  }
}
