.marketing-shared-footer {
  background-color: $color-gray-dark;
  color: $color-gray-light;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  font-weight: 200;

  > div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $body-max-width;
    padding: $spacing-section 0;
    justify-content: center;

    > section {
      margin: 0 auto;
      margin-bottom: $spacing-md;
    }
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  ul > li {
    margin: 0 $spacing-md;
  }

  ul > li > a {
    color: $color-gray-light;
  }

  .logo {
    font-size: 1.75rem;
    font-weight: 200;
    line-height: 64px;
    vertical-align: middle;

    img {
      margin-top: -8px;
      max-height: 32px;
      max-width: 32px;
    }
  }

  .crafted-in {
    span {
      color: #eb503e;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 15px;
    text-align: center;

    ul {
      flex-direction: column;
    }

    ul > li {
      margin-bottom: $spacing-sm;
    }
  }
}
