.dashboard-calendars-importing {
  .hidden {
    display: none;
  }

  .sync-pane {
    margin-bottom: $spacing-section;
  }

  .sync-pane > section {
    display: flex;

    > aside {

    }

    > article {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
      max-width: 450px;
    }

    > aside > img {
      margin-left: 100px;
      max-width: 450px;
    }

    .buttons {
      margin-top: $spacing-lg;
      .primary {
        margin-right: $spacing-lg;
      }
    }

    .in-progress {
      margin: 0 auto;
      margin-top: $spacing-lg;
      justify-content: center;
      .wisp-spinner {
        margin: 0 auto;
      }
    }

    .sync-error {
      color: $pink;
      margin-top: $spacing-lg;
    }
  }
}
