.scheduling-profiles-show {
  display: flex;
  flex-direction: column;
  margin: auto 0;

  .scheduling-header {
    width: 400px;
    max-width: 400px;
    margin: auto;
    margin-bottom: $spacing-section;
  }

  .scheduling-options {
    max-width: 400px;
    width: 400px;
    margin: $spacing-section auto;
  }

  .meeting-option {
    a {
      border: $border;
      border-radius: $border-radius;
      cursor: pointer;
      display: flex;
      margin-bottom: $spacing-md;

      > section, > aside {
        display: flex;
        flex-direction: column;
      }

      > aside {
        border-right: $border;
        font-size: 1.8rem;
        font-weight: 200;
        max-width: 125px;
        min-width: 125px;
        min-height: 55px;
        max-height: 55px;
        padding: 10px;
        justify-content: center;
        text-align: center;
      }

      > section {
        flex-grow: 1;
        margin-left: $spacing-sm;
        justify-content: center;

        &:after {
          font-family: ionicons;
          font-size: 1.3rem;
          content: "\f125";
          color: darken($color-gray-light, 20%);
          display: flex;
          margin-left: auto;
          margin-right: $spacing-md;
        }
      }

      &:hover {
        background: $gradient-salmon;
        border-color: $color-white;
        color: $color-white;

        > aside {
          border-color: $color-white;
        }

        > section:after {
          color: $color-white;
        }
      }
    }
  }
}
