table {
  width: 100%;

  td, th {
    padding: $spacing-sm $spacing-md;
    text-align: left;
  }

  thead > tr > td {
    font-weight: bold;

    &:last-child {
    }
  }

  thead > tr {
    border-bottom: $border;
  }

  &.bordered {
    border: $border;
    border-radius: $border-radius;
  }

  &.striped {
    tr {
      background-color: lighten($color-gray-light, 2%);

      &:nth-child(even) {
        background-color: $color-white;
      }
    }

    thead > tr {
      background-color: $color-white;
    }
  }

  &.small {
    font-size: $font-size-small;
  }

  &.padded {
    td {
      padding: $spacing-sm $spacing-md;
    }
  }
}
