<div class="marketing-static_pages-homepage-hero">
  <aside>
    <div class="hero-text">
      <h1>Welcome to Olympus</h1>

      <section>
        You've chosen the quickest and cheapest way to develop a SaaS
        application! Olympus delivers powerful tools out of the box and a
        framework useable for any app or business model.
      </section>

      <%= link_to(t(".cta"), connect_path, class: "button primary") %>
    </div>
  </aside>

  <section>
    <div class="hero-image"></div>
  </section>
</div>
