<div class="marketing-static_pages-homepage-insights">
  <div>
    <header>
      <h3>Meettrics provides you with new insights</h3>
    </header>

    <article>
      <div class="feature">
        <h5>Feature one</h5>
        This will be some description text about the feature and how it helps
        out the company in some interesting way.
      </div>

      <div class="feature">
        <h5>Feature one</h5>
        This will be some description text about the feature and how it helps
        out the company in some interesting way.
      </div>

      <div class="feature">
        <h5>Feature one</h5>
        This will be some description text about the feature and how it helps
        out the company in some interesting way.
      </div>
    </article>
  </div>
</div>
