<div class="dashboard-company-stats-index vertical-flex">
  <header class="page-header">
    <h3>Company statistics</h3>
  </header>

  <%= render partial: "layouts/shared/under_construction" %>
</div>
