<div class="frame floating">
  <header>
    <h3><%= t(".title") %></h3>
  </header>

  <section>
    <%= render(
      partial: "dashboard/teams/form",
      locals: { team: @team }
    ) %>
  </section>
</div>
