<div class="dashboard-teams-show vertical-flex">
  <header class="page-header">
    <h3><%= @presenter.team_name %></h3>

    <%= link_to(
      "Team members",
      dashboard_teams_team_profiles_path(@presenter.team),
      class: "button secondary outline"
    ) %>
  </header>

  <%= render partial: "layouts/shared/under_construction" %>
</div>
