<div class="marketing-shared-footer">
  <div>
    <section>
      <div class="logo">
        <%= image_tag("logos/symbol/symbol_128_white.png") %>
        <%= t("base.application_name") %>
      </div>
    </section>

    <section>
      <ul>
        <%= render partial: "marketing/shared/nav_links" %>
      </ul>
    </section>
  </div>
</div>
