<div class="header-view">
  <header>
    <h3>Confirm your email</h3>
  </header>

  <section class="center">
    An email was sent to "<%= @email %>". If you don't receive it you
    may not have an account with us or check your spam and trash folders. Still
    having issues? Contact our support.
  </section>
</div>

