.sidebar-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > header {
    border-bottom: $default-border;
    margin: 25px 0 0 0;
    padding: 0 25px 10px 25px;
    text-align: center;
    user-select: none;
  }

  > article {
    margin: 25px;
  }
}
