<div class="marketing-contact_us_requests-create">
  <div>
    <aside>
      <%= image_tag("illustrations/marketing/contact_us/hearts.svg") %>
    </aside>

    <article>
      <h3>Thanks for reaching out!</h3>
      We have received your request and will get back to you as soon as we can.

      <%= link_to(
        "Learn more about #{I18n.t("base.application_name")}",
        root_path,
        class: "button primary"
      ) %>
    </article>
  </div>
</div>
