<div class="admin-support-dashboards-show">
  <div class="frame floating narrow center">
    <header>
      <h3>Support Dashboard</h3>
      Manage your members and support processes.
    </header>

    <section>
      <%= image_tag("illustrations/admin/support.svg") %>
    </section>
  </div>
</div>
