<div class="header-view">
  <header>
    <h3>Reset Password</h3>
  </header>

  <section>
    If your email was in our records we will have sent you a password reset
    email. If you do not receive an email, double check you are using the
    correct email address and/or that it is not in your spam and trash inboxes.
  </section>
</div>
