.scheduling-calendar_events-details {
  .duration, .time, .timezone {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    margin-bottom: $spacing-sm;

    i {
      color: $pink;
      font-size: 1.4rem;
      margin-right: $spacing-md;
    }
  }
}
