.scheduling-calendar_events-show {
  text-align: center;

  > header {
    border-bottom: $default-border;
    margin: 25px 0 0 0;
    padding: 0 25px 10px 25px;
    text-align: center;
    user-select: none;
  }

  > section {
    margin: 0 25px;
    padding: 25px 0;
  }

  .duration, .time, .timezone {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    margin-bottom: $spacing-sm;

    i {
      color: $pink;
      font-size: 1.4rem;
      margin-right: $spacing-md;
    }
  }

  .details {
    margin: $spacing-lg 0;
  }
}
