<div class="authentication-two_factor_sessions-new sidebar-content">
  <header>
    <h3>Please verify yourself</h3>
    Use one of the your configured two factor credentials to continue
  </header>

  <article>
    <%= render partial: "authentication/two_factor_sessions/auth_accordion" %>
  </article>
</div>
