<div>
  <h3>Finance</h3>

  <ul>
    <li>
      <%= link_to "Monthly Revenue", admin_finance_revenue_records_path %>
    </li>
    <!--- <li>Expenses</li> -->
    <li>
      <%= link_to "Membership plans", admin_finance_billing_products_path %>
    </li>
  </ul>
</div>
