<div>
  <h3>Support</h3>

  <ul>
    <li><%= link_to("Members", admin_support_members_path) %></li>
    <li><%= link_to("Companies", admin_support_companies_path) %></li>
    <li><%= link_to("Support Requests", admin_support_support_requests_path) %></li>
    <li><%= link_to("Image packs", admin_support_image_packs_path) %></li>
  </ul>
</div>
