<div class="admin-development-dashboards-show">
  <div class="frame floating narrow center">
    <header>
      <h3>Development Dashboard</h3>
      Manage your infrastructure.
    </header>

    <section>
      <%= image_tag("illustrations/admin/development.svg") %>
    </section>
  </div>
</div>
