<div class="marketing-unsubscribes-create">
  <section>
    <aside>
      <%= image_tag("illustrations/marketing/unsubscribes/balloon_heart.svg") %>
    </aside>

    <article>
      <h3>You've been unsubscribed</h3>
      Sorry to see you go. If there is anything we can do to make your
      experience better <%= link_to(
        "let us know",
        new_marketing_contact_us_request_path
      ) %>. You can resubscribe in your settings at any time!
    </article>
  </section>
</div>
