<div class="dashboard-left_navigation_pane-company <%= "active" if active %>">
  <h3><%= t("common.titles.company.your_company") %></h3>

  <div class="nav-pane-link">
    <%= link_to "Stats", dashboard_company_stats_path %>
  </div>

  <div class="nav-pane-link">
    <%= link_to(
      t("common.titles.profile.employees"),
      dashboard_profiles_path
    ) %>
  </div>
</div>
