<div style="max-width: 600px; margin: auto">
  Welcome to the Olympus Framework admin dashboard. It's still a bit early for
  the admin but the outline is there. Each team can have access to their own
  section that is relevant for their day to day operations.
  <br />
</div>
