.toolbar-buttons {
  display: flex;
  border-radius: 5px;

  > div {
    background-color: $white;
    display: flex;
    border: 1px solid darken($gray-light, 10%);
    border-right: none;
    cursor: pointer;
    justify-content: center;
    max-width: 40px;
    min-width: 40px;
    position: relative;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-right: 1px solid darken($gray-light, 10%);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    i {
      color: darken($gray-light, 20%);
    }

    &:hover {
      background-color: $gray-light;
    }

    &.active {
      background-color: $blue;
      color: $white;

      i {
        color: $white;
      }
    }
  }
}
