<div class="dashboard-meetings-new vertical-flex">
  <header class="page-header">
    <h3>Create a meeting</h3>
  </header>

  <%= render partial: "layouts/shared/under_construction" %>
  <%# NOTE: I want to use meeting templates as a "1 off style" for a meeting %>
</div>
