<div class="admin-finance-billing_features-new">
<h4>Edit billing feature</h4>

<%= render(
  partial: "admin/finance/billing_features/form",
  locals: {
    billing_feature: @billing_feature
  }
) %>
